@using Ninject
@using SSU_ThreeLayer.DI
@using SSU_ThreeLayer.BLL.Interfaces
@using SSU_ThreeLayer.Entities
@{
    Layout = "~/Pages/Layouts/_HeaderLayout.cshtml";
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~");
    }
    var shopLogic = DependencyResolver.Kernel.Get<IShopLogic>();
    var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
}

<div class="container">

    @foreach (var item in userLogic.GetUserByName(User.Identity.Name).ShopList)
    {
    <div class="shop">
        <div class="shop-info-block">
            <div>@item.IdShop</div>
            <div>@item.NameShop</div>
        </div>
        <div class="typeofshop">
            <b>TypeOfShop:&nbsp;</b>@item.typeOfShop.Description
        </div>
        <div class="shop-info-block">
            <div>@item.address.Country</div>
            <div>@item.address.City</div>
            <div>@item.address.Street</div>
            <div>@item.address.Build</div>
        </div>
        <div class="ratings">
            <b>Ratings:&nbsp;</b>@item.Ratings
        </div>
    </div>
    }
</div>